__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
~/.voiceterm/
.vscode/
.idea/
*.swp
*.swo
tests/
*.test.py
.pytest_cache/
.coverage
htmlcov/
.git/
.gitignore
ТЗ.md
docs/
*.wav
!sounds/*.wav
*.tmp
*.log
